/*

!/.gitignore

!/www
!/www/*
!/www/**

/www/bitrix/*

/www/bitrix/managed_cache
/www/bitrix/stack_cache
/www/bitrix/cache
/www/bitrix/html_pages
/www/bitrix/tmp

!/www/bitrix/php_interface
!/www/bitrix/php_interface/*
!/www/bitrix/php_interface/**

/www/bitrix/php_interface/dbconn.php
#
!/www/bitrix/templates/
!/www/bitrix/templates/*
!/www/bitrix/templates/**

/www/.htaccess

/www/tmp

/www/sitemap_iblock*
/www/sitemap_files*
/www/sitemap.xml
/www/y-market/*.xml


/www/upload

/www/*.zip
/www/*.rar
/www/*.tar.gz

/www/*_files
/www/*_files.zip
/www/*_files.tar.gz

/www/.htaccess_back*

/www/dev-*

/www/.well-known

*.log

*.gz
*.bz
*.bz2
*.tar
*.zip
*.rar
*.7z

.DS_Store
Thumbs.db

*.swp
*.swo
*.swq

*.bak
*.BAK


